#snowtag-map {
    height: calc(100% + 40px);
}

.cssGrid,
.cssGrid>div {
    height: 100%;
}

.checkmateFormEditField {
    width: calc(100% - 1em);
    max-width: 100%;
}

select.checkmateFormEditField {
    width: 100%;
}

label {
    padding-top: 1em;
    display: block;
    padding-bottom: 0.5em;
}

#controls {
    height: 100%;
    padding: 20px;
    background-color: #e5f2fa;
    border-right: 1px solid #ddd;
}

#loading {
    transform: scale(0.5);
}

#loading>div {
    background: #2c7ab1;
    ;
}

#error {
    margin-top: 20px;
    color: #cc0000;
}
#checkmateContent {
  margin: 0 0 0 0px
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.my-div-icon {
  width: 25px;
  height:25px;
  background: green;
  border: 3px dotted black;
}
.my-div-icon2 {
  width: 25px;
  height:25px;
  background: red;
  border: 3px dotted black;
}

.pin2 {
  background: #89849b;
  top: 40%;
  left: 50%;
  margin-left: 115px;
  border-radius: 50%;
  border: 8px solid #fff;
  width: 8px;
  height: 8px;
}

.pin2::after {
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  background: #2F2F2F;
  border: 10px solid transparent;
  border-top: 17px solid #fff;
}

/* .pin2 {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #89849b;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  after:: {
    content ''
    width 14px
    height 14px
    margin 8px 0 0 8px
    background #2F2F2F
    position absolute
    border-radius 50%
  }
  } */
